*.bak

# compiled tombar binary (build from config/waybar/tombar/main.go with
# `CGO_ENABLED=0 go build -o tombar .`)
config/waybar/tombar/tombar

# Emacs things
\#*#

# Ignore all of emacs.d, which is mostly compiled/downloaded scripts.
emacs.d/*
*.elc
# But don't ignore these specific locations.
!emacs.d/lisp
!emacs.d/snippets
!emacs.d/init.el
!emacs.d/custom.el
!emacs.d/README.md
